.about {
    container: about / inline-size;

    &__container {
      container: container_about / inline-size;
      margin-inline: 0;
      margin-block: auto;
      max-width: 90vw;
    }
    &__container {
      .about__section:first-of-type {
          .about__text::first-letter {
                  @supports (initial-letter: 3) or (-webkit-initial-letter: 3) {
                      -webkit-initial-letter: 3;
                      initial-letter: 3;
                      color: $primary;
                      font-weight: bold;
                      margin-right: 0.5em;
                  }
          }
      }
  }
    &__title {
      font-size: calc(1em + 1vw);
      line-height: 1em;
      color: $primary;
    }

    &__text { text-align: justify; }

    &__list {
      background-color: $list-group-bg;
      border-width: $list-group-border-width;
  }
    &__section:first-child {
      display: flex;
      flex-direction: row;
      gap: 5cqi;
    }

    &__section:has(.about__title) { border-left: 2px solid $primary; }

    :is(&__section, &__list) {
      margin-block: 1rem;
      padding-inline: 10cqi;
    }

    :is(&__header, &__image) {
      margin-bottom: 13px;
      width: 100cqi;
      height: cqmin;
      object-fit: contain;
      border-radius: 2vw;
      box-shadow: 0 2vw 4vw rgba(0, 0, 0, 0.1);
    }
  }
  @supports (contain: layout) {
    @container about (min-width: 994px) {
      .about__container { width: 65cqw; }
    }

    @container about (min-width: 738px) and (max-width: 993px) {
      .about__container { width: 75cqw; }
    }

    @container about (max-width: 737px) {
      .about__container         { width: 95cqw; }
      .about__section:first-child { flex-direction: column; }
    }
  }
