.footer {
    container: footer / size;
    padding-top: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30vh;
    color: $secondary;

    &__spacer {
      margin-inline: 25cqi;
      width: 50cqi;
    }


    &__section {
      container: section / size;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      min-height: 50cqb;

      &--pers {
        justify-content: space-between;
        color: $uoc-corporate;
        background-color: $uoc-bg;
      }

      &:first-child { justify-content: center; }
    }

    &__column {
      margin-inline: 3cqw;

      &:has(.footer__logo){
        margin-inline: 2cqw;
        width: 30cqi;
      }

      &:has(.footer__image) {
        margin-inline: 2cqw;
        width: 30cqi;
      }

      &:has(.footer__text) {
        margin-right: 3cqw;
        margin-left: 0;
        width: 70cqi;
      }
    }

    &__list {
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      list-style: none;
    }

    &__link {
      font-weight: bold;
      color: $secondary;
      text-decoration: none;

      &:hover { color: $link-hover-color }
    }

    &__logo {
      width: 60px;
      height: 60px;
    }

    &__image {
      width: 20cqw;
      height: 100%;
      object-fit: contain;
    }

    &__text {
      font-weight: bold;
      font-size: 0.7em;
      line-height: 1em;
      text-align: justify;
    }
  }

  @container footer (min-width: 994px) {
    .footer__list { gap: 10cqw; }
  }

  @container footer (max-width: 993px) and (min-width: 738px) {
    .footer__column { padding-block: 1cqh; }
    .footer__list  { gap: 5cqw; }
  }

  @container footer (max-width: 737px) {
    .footer__list {
      gap: 1cqw;
      flex-direction: column;
      text-align: center;
    }
  }

  @container section (max-height: 125px) {
    .footer__image {
      margin-block-end: 15cqb;
      width: 15cqw;
    }
  }
