<footer class="footer">
    <hr class="footer__spacer" />
    <div class="footer__section">
        <div class="footer__column">
            <img
                class="footer__logo rounded-circle"
                src="./assets/images/CatalanCookinglogoCompress.png?as=webp"
                type="image/webp"
                alt="Logo of the cooking contest "
            />
        </div>
        <div class="footer__column">
            <ul class="footer__list">
                <li>
                    <a class="footer__link footer__link--menu" href="/">Home</a>
                </li>
                <li>
                    <a class="footer__link footer__link--menu" href="chefs.html"
                        >Chefs</a
                    >
                </li>
                <li>
                    <a class="footer__link footer__link--menu" href="about.html"
                        >About Sant Cugat</a
                    >
                </li>
                <li>
                    <a
                        class="footer__link footer__link--menu"
                        href="contact.html"
                        >Contact us</a
                    >
                </li>
            </ul>
        </div>
        <div class="footer__column">
            <a
                class="footer__link"
                href="https://twitter.com/?lang=en"
                target="_blank"
                rel="noopener"
                title="Twitter"
            >
                <i class="fa-brands fa-x-twitter"></i>
            </a>
            <a
                class="footer__link"
                href="https://www.facebook.com/?locale=en_GB"
                target="_blank"
                rel="noopener"
                title="Facebook"
            >
                <i class="fa-brands fa-facebook-f"></i>
            </a>
            <a
                class="footer__link"
                href="https://www.instagram.com/"
                target="_blank"
                rel="noopener"
                title="Instagram"
            >
                <i class="fa-brands fa-instagram"></i>
            </a>
        </div>
    </div>
    <div class="footer__section footer__section--pers">
        <div class="footer__column">
            <img
                class="footer__image"
                src="./assets/images/logo.png"
                alt="Logo UOC"
            />
        </div>
        <div class="footer__column">
            <p class="footer__text">
                This page has been created for the purpose of providing
                information on HTML and CSS Tools II, a subject within the UOC's
                Master's Degree in the Web App and Website Development.
            </p>
            <p class="footer__text">
                &copy; May 2024 - José Antonio Mármol Romero
            </p>
        </div>
    </div>
</footer>
