<header class="header">
    <nav class="header__nav navbar navbar-expand-xl navbar-dark">
        <div class="header__container container-fluid">
            <a href="/" class="header__link navbar-brand mx-5">
                <img
                    src="./assets/images/CatalanCookinglogoCompress.png?as=webp"
                    type="image/webp"
                    alt="Logo of the cooking contest "
                    class="header__logo rounded-circle"
                />
            </a>
            <button
                class="header__button navbar-toggler"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                type="button"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div
                class="header__container collapse navbar-collapse"
                id="navbarNav"
            >
                <ul class="header__menu navbar-nav ms-auto mx-5">
                    <li class="header__element nav-item">
                        <a
                            href="./views/chefs.html"
                            class="header__link"
                            data-target="chefs"
                            >Chefs</a
                        >
                    </li>
                    <li class="header__element nav-item">
                        <a
                            href="./views/about.html"
                            class="header__link"
                            data-target="about"
                            >About Sant Cugat</a
                        >
                    </li>
                    <li class="header__element nav-item">
                        <a
                            href="./views/contact.html"
                            class="header__link"
                            data-target="contact"
                            >Contact us</a
                        >
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
